header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

header > a, header > form {
  display: flex;
  padding: 10px;
  color: #57a2e4;
  text-decoration: none;
}

form label i {
  color: black;
  padding-right:5px;
}

input {
  font-size: 16px;
}

input:focus {
  outline: 2px solid #57a2e4;
}

.header-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-left: 5px;
  font-family: Helvetica sans-serif;
}

.selected {
  background: #57a2e4;
  color: white;
}
