/*font-family: 'Arvo', serif;*/
body, h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

.error {
  margin-top: 50px;
  font-family: Helvetica sans-serif;
  text-align: center;
  background: #eeda1c;
}

.error-message {
  height: 40px;
  padding-top: 10px;
}
